body{
    background-color: rgb(175, 166, 226);
}

form{
    background-color: #fff;
    width: 45vh;
    padding: 10px 25px;
    top: 50%;
    left: 50%;
    border-radius: 3px;
    position: absolute;
    transform: translate(-50%,-50%);
}

input{
    display: blcok;
    padding: 10px 1px;
    width: 100%;
    margin: 10px -5px;
    border: 1px solid rgb(0, 0, 0);
}

input, label, h1{
    background-color: #fff;
}

h1{
    font-size: 25px;
    text-align: center;
    margin: 10px 0 30px;
}

input[type="button"]{
    cursor: pointer;
    background-color: rgb(112, 100, 180);
    color: #fff;
    border: none;
    margin-top: 20px;
}

input[type="button"]:hover{
    background-color: rgb(104, 47, 170);
}

label {
    margin: 0 -5px;
}

p{
    background-color: #fff;
}

.wrapper-mobile {
    width: 480px;
    margin: 0 auto;
    /* background-color: var(--white); */
    /* padding: 0 1rem; */
  }